.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to right, #6d0f4d, #4e4e4eba)!important;
    /* background: linear-gradient(to right, #3125257a, #000); */
  }